<!DOCTYPE html>
<html>
<head>
    <title>Chat Rooms</title>
    <% if (theme === 'light') { %>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    <% } else { %>
        <link rel="stylesheet" type="text/css" href="/css/dark/dark_main.css">
    <% } %>
</head>
<body>
    <!-- <div class="top-bar">
        <div class="username"><%= username %></div>
    </div> -->
    <%- include('topbar.ejs') %>
    <div class="content">
      <div class="add-room">
        <a href="/create_room" class="add-room-button">+ Add Room</a>
      </div>
      <div class="rooms">
        <h2>Chat Rooms</h2>
        <h2>Messages are not saved as of now</h2>
        <ul>
          <% rooms.forEach(room => { %>
            <li>
              <a href="/room?roomId=<%= room.id %>" class="<%= room.password === 'none' ? 'normal-room' : 'private-room' %>">
                <%= room.name %>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>    
</body>
</html>
<!-- <span class="tooltiptext">Tooltip text</span> -->